<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

    <listeners>
        <listener class-name="com.automationexcersie.listeners.ITestListeners"/>
    </listeners>

    <test name="Automation Tests">
        <classes>
            <class name="com.automationexcersie.runners.TestRunner"/>
            <class name="com.automationexcersie.testngtest.LoginTestNGTest"/>
        </classes>
    </test>

</suite>